# Facturia Web - Variables de Entorno

# Entorno: development | staging | production
NEXT_PUBLIC_ENV=development

# URL de la API de Facturia (en celular, reemplazar por tu IP de red local, ej: http://192.168.1.100:8000)
NEXT_PUBLIC_API_URL=http://localhost:8000
